## 1. Python output

In [ ]:
print("Itobuz")

Itobuz

In [ ]:
print(5)

5

In [ ]:
print(type(5))

<class 'int'>

In [ ]:
print("Hello",1,2,"5")

Hello451452455

<p style="color:red; font-size:14px;">Why does Python put a space between printed items?</p>

---

When you print multiple items with `print()`, Python puts a space between them by default.  

This happens because of the **`sep`** parameter, which is set to `' '` (space) by default.

---

##### Full `print()` Function with Defaults
```python
print(object(s), sep=' ', end='\n', file=sys.stdout, flush=False)
```

| Parameter   | Default Value     | Meaning (Easy Explanation)                                                                                                                         |
| ----------- | ----------------- | -------------------------------------------------------------------------------------------------------------------------------------------------- |
| `object(s)` | Required          | The things you want to print. It can be text, numbers, variables, etc.                                                                             |
| `sep`       | `' '` (space)     | **Separator** between multiple items. Default is a space. You can change it to anything like `,` or `-`.                                           |
| `end`       | `'\n'` (new line) | What gets printed **after** your message. By default, it adds a new line. You can change it to anything like `" "` or `"üòä"`.                      |
| `file`      | `sys.stdout`      | Where the output goes. By default, it's the screen. You can redirect output to a file.                                                             |
| `flush`     | `False`           | If `True`, forces Python to show the output immediately. Used in special cases like real-time progress updates. Beginners can usually ignore this. |

In [ ]:
print("Hello",1,2,"5",sep="-")

Hello-1-2-5

In [ ]:
print("1")
print("2")

1
2

<p style="color:green; font-size:18px;"> 1 and 2 are in different line right?

*   List item
*   List item

This is because of 'end' parameter and its default value is '\n' which is newline character</p>

In [ ]:
print(1,end=" ")
print(2)

1 2

## 2. Data types
- Integer
- decimal/float
- boolean
- string
- complex numbers
- List
- Tuples
- set
- Dict

In [ ]:
print(type(8))

<class 'int'>

In [ ]:
print(type(7.5))

<class 'float'>

In [ ]:
print(type(True))

<class 'bool'>

In [ ]:
print(type("Anjisnu"))

<class 'str'>

In [ ]:
print(type([1,2,3]))

<class 'list'>

In [ ]:
print(type((1,2,3,4)))

<class 'tuple'>

In [ ]:
print(type({1,2,3}))

<class 'set'>

In [ ]:
print(type({'name' : 'Anjsnu','gender' : 'Male'}))

<class 'dict'>

## 3. Variables

Variables are basically **containers** that store information for future use.

When you create a variable, you don't always know exactly what the user or the program might store in it later ‚Äî it can be a number, text, or almost anything.

That‚Äôs why we use variables ‚Äî to hold values that can change or be updated as needed.

```python
name = "John"      # A text value
age = 25           # A number value
price = 99.99      # A decimal value
```
<p style="color:green; font-size:18px;"> The best part is you never need to specify the datatype of the variable</p>

In [ ]:
name = "Anjisnu"
print(name)

Anjisnu

In [ ]:
a=6
b=12
print(a+b)

18

**Dynamic Typing**

In Python, you don't need to tell the type of a variable when you create it. The **Python interpreter is smart enough** to figure out the type by looking at the value you assign.

This is called **Dynamic Typing**.
Example:

```python
x = 10        # Python knows this is an integer
x = "Hello"   # Now, Python knows this is a string
x = 3.14      # Now, it's a float
```

**Dynamic Binding**
  
It means that the actual value (or type) of a variable is decided at runtime, not at the time of writing the code.

In simple terms, the connection between the variable name and its actual object/value happens when the program is running.

```python
def greet(name):
    print("Hello,", name)

greet("John")   # 'name' is bound to the string 'John' at runtime
greet(123)      # 'name' is bound to the integer 123 at runtime

In [ ]:
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [ ]:
a=b=c=5
print(a,b,c)

5 5 5

## 4. Keywords & Identifiers


**Keywords**

Keywords are the **reserved words** in Python that have special meaning. You **cannot** use them as variable names, function names, or identifiers.

They are part of the Python language syntax itself.

**Example of Keywords:**

```python
if = 10    # ‚ùå Invalid - 'if' is a keyword
```

**What are Identifiers?**

**Identifiers** are the names you assign to:

- Variables  
- Functions  
- Classes  
- Modules  
- Objects  

They are used to uniquely identify different parts of your code.

---

**Rules for Writing Identifiers:**

Can contain **letters (A-Z, a-z)**, **digits (0-9)**, and **underscores `_`**  
**Cannot start with a digit**  
**Cannot be a Python keyword**  
Are **case-sensitive** (`Name` and `name` are different)  

---

**Examples of Valid Identifiers:**

```python
name = "Alice"
age = 30
_total = 100
userName = "John"
price2 = 49.99

In [ ]:
# error
if=10

SyntaxError: invalid syntax (1330624585.py, line 2)

In [ ]:
# Case sensitive
name="Anjisnu"
Name="roy"
print("name : ", name ,"\n", "Name : ", Name)

name :  Anjisnu
 Name :  roy

## 5. User Input

In [ ]:
Name = input("What is your name")

What is your name Anjisnu

In [ ]:
print(Name)

Anjisnu

In [ ]:
a=input("Enter one number")
b=input("Enter 2nd number")
print(a+b)

Enter one number 3
Enter 2nd number 12

312

<p style="color:orange; font-size:16px;">
When we take input from the user using <code>input()</code>, it is always stored as a <b>string</b>.  
This is because <b>string</b> is a universal data format ‚Äî it can represent letters, numbers, symbols, anything!As solution we need to typecast the data type to int or something for mathematical operations
</p>

In [ ]:
a=input("Enter one number")
b=input("Enter 2nd number")
print(int(a)+int(b))

Enter one number 3
Enter 2nd number 4

7

## 6. Typecasting

- It is of two types:
  - Implicit : Which python automatically handle by himself
  - explicit :  where we need to convert manually

In [ ]:
# IMplicit example
a=4+6.5
print(type(a))

<class 'float'>

In [ ]:
# explicit

In [ ]:
a=input("Enter one number")
b=input("Enter 2nd number")
print(int(a)+int(b))

Enter one number 8
Enter 2nd number 9

17

<p style="color: red; font-size: 18px">What will be the datatype of 'a' and 'b' now? it will be int cause we typecasted?</p>

In [ ]:
type(a)

str

<p style="color: green;font-size: 18px">It is still string just because we havent stored the typecasted variable in original</p>

## 7. Literals

**What are Literals?**

In Python, **Literals** are the fixed values or constant values that you write directly in your code.  

They represent the actual data, not variables or functions.

**Types of Literals in Python**

| Type            | Example                  | Description                                    |
|-----------------|--------------------------|------------------------------------------------|
| **String Literal**  | `"Hello"`, `'Python'`   | Text enclosed in single or double quotes.      |
| **Integer Literal** | `10`, `-5`, `1000`      | Whole numbers, positive or negative.           |
| **Float Literal**   | `3.14`, `-0.5`, `2.0`   | Numbers with decimal points.                   |
| **Boolean Literal** | `True`, `False`         | Represents truth values.                       |
| **None Literal**    | `None`                  | Represents "nothing" or "no value".            |


**Example Code:**

```python
# String Literal
name = "Alice"

# Integer Literal
age = 25

# Float Literal
price = 49.99

# Boolean Literal
is_active = True

# None Literal
data = None

In [ ]:
name = "Anjisnu" # This is a constant value with no varriable this is a literal

In [ ]:
2*x+3 # This is not literal cause the X is a variable and

<p style="color: orange; font-size: 18px" > what is the use of none? </p>

In [ ]:
k=None

<p style="color: green; font-size: 18px">Suppose we don't know like how many varriables we actually need, so for that purpose we can create this as None and later on change with orignal values</p>

In [ ]:
k=10

In [ ]:
k

10

## 8. Operators

### Arithmatic Operators

In [ ]:
a= 10
b=5
print("a+b =",a+b)
print("a-b =",a-b)
print("a*b =",a*b)
print("a/b =",a/b)
print("a%b =",a%b)
print("a^b =",a**b)

a+b = 15
a-b = 5
a*b = 50
a/b = 2.0
a%b = 0
a^b = 100000

### Relational Operators

In [ ]:
print(4==5)
print(4>5)
print(4<5)
print(4!=5)

False
False
True
True

### Logical Operators

In [ ]:
print(1 and 0)
print(1 or 0)
print(not 1)

0
1
False

### Bitwise Operators

In [ ]:
# Bitwise and
print(2 & 3)
#Bitwise or
print(2 | 3)
#Bitwse Xor
print(2 ^ 3)
# Bitwise not
print(~3)

#Bitwise left shift
print(4>>2) # Shift 4 left by 2 bits

#Bitwise Right shift
print(4<<2)

2
3
1
-4
1
16

### Assignment Operators

In [ ]:
a = 10 # = is assignment operator
a += 10 # a = a + 10
print(a)

20

<p style="color:red">No increment decrement operator is here in Python</p>  <!-- Will show as plain black text -->

### Membership Operator

In [ ]:
# in/not in

print('D' in 'Delhi')
print('d' not in 'Delhi')
print(1 in [2,3,4,5,6])

True
True
False

## Problem 1 : Get a number from User and find some of digit

In [ ]:
num = input("Enter a number")
num=int(num)
sum = 0
while(num!=0):
  sum+=num%10
  num=num/10
  num=int(num)

print(sum)

Enter a number345
12

## 9. If-else

In [ ]:
'''
 correct mail is : admin@anjisnu.com
 correct pass is : 1234
'''

mail=input("Enter your mail id: ")
password = input("Enter your password: ")

if(mail=="admin@anjisnu.com" and password=="1234"):
  print("Welcome user")
elif(mail=="admin@anjisnu.com" and password!="1234"):
  print("You entered correct mail but wrong pass,your last try is: ")
  new_pass=input("Enter correct password")
  if(new_pass=="1234"):
    print("Welcome user")
  else:
    print("You entered wrong password again")
else:
  print("Invalid credentials")

Enter your mail id: admin@anjisnu.com
Enter your password: 1235
You entered correct mail but wrong pass,your last try is:
Enter correct password1234
Welcome user

## Problem 2: User will give 3 numbers,You have to print min number using if-els

In [ ]:
num1=int(input("Enter your number 1 :"))
num2=int(input("Enter your number 2 :"))
num3=int(input("Enter your number 3 :"))

if(num1<=num2 and num1<=num3):
  print("Smallest is ",num1)
elif(num2<=num1 and num2<=num3):
  print("Smallest is ",num2)
else:
    print("Smallest is ",num3)

Enter your number 1 :90
Enter your number 2 :78
Enter your number 3 :9
Smallest is  9

## 10. Modules
- math
- constant
- random
- Keywords

In [33]:
import math

In [45]:
print("To check base value :",math.floor(4.67))
print("To check upper value :",math.ceil(4.67))
print("To check square root:",math.sqrt(16))

To check base value : 4
To check upper value : 5
To check square root: 4.0

kwlist will list all the keyword present in python

In [46]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [47]:
print(len(keyword.kwlist))

35

In [48]:
import random
print(random.randint(000000,999999))

834112

In [49]:
import datetime
print(datetime.datetime.now())

2025-07-11 11:48:59.642898

## 11. Loops
- For loop
- While loop

In [51]:
# While loop to print a table
num=int(input("Enter a number"))

i=1;
while(i<=10):
  print(num,"*",i,"=",num*i)
  i+=1

Enter a number20
20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200

We can use **While with else**

In [52]:
i=0;
while(i<3):
  i=i+1
else:
  print("Kaam khatam")

Kaam khatam

## Problem 3: Guessing Game

In [56]:
Jackpot_num=random.randint(0,100)

i=0
while(i<5):
  print("You have ",i," Chances left: ")
  i=i+1
  num=int(input("Guess the Jackpot number : "))
  if(num==Jackpot_num):
    print("Hooray! you gussed it correct")
    break;

  else:
    print("Try again!")
else:
  print("Try again in another life! Correct answer is: ", Jackpot_num)

You have  0  Chances left:
Guess the Jackpot number : 69
Try again!
You have  1  Chances left:
Guess the Jackpot number : 96
Try again!
You have  2  Chances left:
Guess the Jackpot number : 13
Try again!
You have  3  Chances left:
Guess the Jackpot number : 19
Hooray! you gussed it correct

In [64]:
# For loop : range(1,5,2) : 1 included,5 excluded and 2 is step size. 1,3

for i in range(1,5,2):
  print(i)

1
3

In [67]:
# -1 means in reverse

for i in range(5,1,-1):
  print(i)

5
4
3
2

## Program 4: 10,000 people stay there,10% increase at every year final population after 10 years

In [70]:
real=10000
for i in range(10):
  real=real+real*0.1
print(real)

25937.424601000006

## Problem 5: Print the sequence result upto nth term
1/1! + 2/2! + 3/3! ..

In [3]:
def fact(num: int)->int:
    prod=1
    while(num!=1):
        prod*=num
        num-=1
    return prod

In [13]:
inp=int(input("Enter the value of n"))
i=1
su=0
while(i<=inp):
    su+=i/fact(i)
    i+=1
print(f"Final summation result of this sequence is: {su:.2f}")

Enter the value of n 78

Final summation result of this sequence is: 2.72

## 12. Nested Loops

Print all pairs from 1 to4

In [14]:
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

### Print pattern

*
* *
* * *
 for n no of lines

In [24]:
inp=int(input("Enter no of lines you want"))
for i in range(0,inp):
    for j in range(0,inp):
        if(i>=j):
            print("* ",end="")
    print("")

Enter no of lines you want 5

*
* *
* * *
* * * *
* * * * *

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1

In [28]:
inp=int(input("Enter no of lines you want"))
for i in range(1,inp+1):
    for j in range(1,i+1):
        print(j,end=" ")
    while(j!=1):
        print(j-1,end=" ")
        j-=1
    print("")

Enter no of lines you want 5

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

## 13. Loop control System
- break : when searching in a database then we can use this
- continue
- pass

In [31]:
for i in range(0,10):
    if(i==4):
        break
    print(i)

0
1
2
3

In [40]:
# Continue : It skips that current iteration
for i in range(0,5):
    if i==1:
        continue
    print(f"Value is {i}")

Value is 0
Value is 2
Value is 3
Value is 4

In [42]:
# pass basiccally pass the loop
for i in range(1,12):
    if(i%2==0):
        pass
    print("Odd number")

Odd number
Odd number
Odd number
Odd number
Odd number
Odd number
Odd number
Odd number
Odd number
Odd number
Odd number

In [34]:
def prime_number(num: int)-> bool:
    i=2
    while(i<num):
        if(num%i==0):
            return False
        i+=1
    return True

In [37]:
prime_number(10)

False

In [38]:
num1= int(input("Enter number 1: "))
num2= int(input("Enter number 2: "))


for i in range(num1,num2):
    if(prime_number(i)):
        print(f"{i} is a prime number")
    else:
        pass

Enter number 1:  20
Enter number 2:  30

23 is a prime number
29 is a prime number

## 14. Strings

### 1. Creating strings

In [47]:
s="Hello"
s= 'Helo'

# multiline strings
s= '''Hello'''
s= """Hello"""
s=str("Hello")
print(s)

Hello

Why "" and '' comma exist for representing strings? one could have done the job isn't it?
But in cases like 
> 'It's raining out there'
> 
This will throw error because are some isssues in understanding of ' so in this place we will use "It's raining out there"

### 2. Acccessing substrings from a string : Indexing

In [50]:
# Positive Indexing : Go from left to right
s="Hello world"
print(s[0],s[1],s[2])

H e l

In [52]:
# Negative Indexing : Go from right to left
print(s[-1],s[-2],s[-3])

d l r

### 3. Slicing : We can get subsequence

In [55]:
s="Hello world"
s[0:3] # This means we can go from 0 and end up in 2, here 3 is not included.

'Hel'

In [56]:
s[1:3]

'el'

In [57]:
s[2:]

'llo world'

In [59]:
s[::2] # Here start:end:step-size

'Hlowrd'

In [60]:
# Negative slicing

s[::-1]

'dlrow olleH'

When doing negative slicing make sure the 1st number is bigger than the second number

In [61]:
s[6:0:-1]

'w olle'